.cal-nav {
	position: absolute;
	top: 2px;
	left: 0;
}

.cal-nav-group {
	float: left;
	margin-right: 10px;

	&::after {
		content: '';
		display: block;
		clear: both;
	}

	button {
		float: left;
	}

	& > :not(:last-child) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	& > :not(:first-child) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.cal-nav-left {
	&::before {
		content: '\f053';
		display: inline-block;
		padding-right: 4px;
		font-family: FontAwesome;
	}
}

.cal-nav-right {
	&::before {
		content: '\f054';
		display: inline-block;
		padding-left: 4px;
		font-family: FontAwesome;
	}
}

.cal-new-event::before {
	content: '\f067';
}

.cal-share::before {
	content: '\f045';
}

.cal {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;

	td {
		padding: 5px;
		border: 1px solid #ccc;
	}

	thead td {
		width: 14.29%;
		background: linear-gradient(#f5f5f5, #e1e1e1);
		font-weight: bold;
	}

	tbody td {
		height: 100px;
		vertical-align: top;
	}

	.today {
		background-color: #fcf8e3;
	}

	.date {
		text-align: right;
	}

	.event {
		margin-top: 2px;
		padding: 4px;
		background-color: #b4c2fc;
		border-radius: 4px;
		font-size: 0.8rem;
	}

	.outside .date {
		color: #ccc;
	}
}
