@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 20px;
	color: #555;
	font-family: 'Open Sans', sans-serif;
}
