@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 40px;
	border-top: 10px solid #00a1e0;
	color: #444;
	font-family: 'Open Sans', sans-serif;
}

button {
	padding: 6px 12px;
	border: none;
	border-radius: 4px;
	font-size: 0.9rem;
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	appearance: none;

	&:disabled {
		background: #999 none;
		cursor: default;
	}

	&.positive {
		color: #fff;
		background: #f89508 linear-gradient(rgba(255, 255, 255, 0.4), transparent);
		text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
	}

	&.neutral {
		color: #444;
		background: #ccc linear-gradient(rgba(255, 255, 255, 0.8), transparent);
	}
}
