<header class="page-header">
	<nav class="cal-nav">
		<div class="cal-nav-group">
			<button class="neutral cal-nav-left"></button>
			<button class="neutral cal-nav-right"></button>
		</div>
		<div class="cal-nav-group">
			<button class="neutral cal-nav-today">today</button>
		</div>
		<div class="cal-nav-group">
			<button class="neutral">month</button>
			<button class="neutral">day</button>
			<button class="neutral">week</button>
		</div>
	</nav>

	<h1 class="cal-title"></h1>

	{{#if isAuthenticated}}
		<div class="page-header-actions">
			<button class="positive cal-new-event">Create New Event</button>
			<a href="sharing" class="btn positive cal-share">Manage Sharing</a>
		</div>
	{{/if}}

</header>

<table class="cal">
	<thead>
		<tr>
			<td>Sun</td>
			<td>Mon</td>
			<td>Tue</td>
			<td>Wed</td>
			<td>Thu</td>
			<td>Fri</td>
			<td>Sat</td>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<!-- using this instead of <template> for IE compat -->
<script type="text/template" id="day-template">
	<td>
		<div class="date"></div>
	</td>
</script>
