<form class="sign-in-form">
	<label>
		Email <input type="text" value="will@codersblock.com" disabled>
	</label>
	<label>
		Password <input type="password" value="hunter2" disabled>
	</label>
	<button class="positive sign-in">Sign In</button>
</form>
