<header class="cal-top">
	<nav class="cal-nav">
		<div class="cal-nav-group">
			<button class="neutral cal-nav-left"></button>
			<button class="neutral cal-nav-right"></button>
		</div>
		<div class="cal-nav-group">
			<button class="neutral">today</button>
		</div>
		<div class="cal-nav-group">
			<button class="neutral">month</button>
			<button class="neutral">day</button>
			<button class="neutral">week</button>
		</div>
	</nav>

	<h1 class="cal-title"></h1>

	<button class="positive cal-new-event">Create New Event</button
</header>

<div class="cal-wrapper"></div>
