<header class="page-header">
	<h1>Manage Sharing</h1>
	<div class="page-header-actions">
		<button class="positive share-add">Add New Share</button>
		<a href="cal" class="btn positive share-back">Back to Calendar</a>
	</div>
</header>

<table class="shares">
	<thead>
		<tr>
			<td>&nbsp;</td>
			<td class="recipient">Recipient</td>
			<td>Emails</td>
			<td>Webinars</td>
			<td>Events</td>
			<td>Social</td>
			<td>Custom</td>
		</tr>
	</thead>
	<tbody>
		{{#each shares}}
			<tr>
				<td class="shares-actions">
					<i class="fa fa-times"></i>
					<i class="fa fa-pencil"></i>
				</td>
				<td class="recipient">{{recipientEmail}}</td>
				<td>{{#if showEmails}}<i class="fa fa-check"></if>{{/if}}</td>
				<td>{{#if showWebinars}}<i class="fa fa-check"></if>{{/if}}</td>
				<td>{{#if showEvents}}<i class="fa fa-check"></if>{{/if}}</td>
				<td>{{#if showSocial}}<i class="fa fa-check"></if>{{/if}}</td>
				<td>{{#if showCustom}}<i class="fa fa-check"></if>{{/if}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>

<div class="add-modal">
	<i class="fa fa-close dismiss-modal"></i>
	<form class="add-share-form">
		<label>
			Recipient Email <input type="text" class="recipient-email">
		</label>
		<div class="checkboxes">
			<label>
				<input type="checkbox" class="show-emails-check"> Emails
			</label>
			<label>
				<input type="checkbox" class="show-webinars-check"> Webinars
			</label>
			<label>
				<input type="checkbox" class="show-events-check"> Events
			</label>
			<label>
				<input type="checkbox" class="show-social-check"> Social
			</label>
			<label>
				<input type="checkbox" class="show-custom-check"> Custom
			</label>
		</div>
		<button class="positive send-share">Send Share Notification</button>
	</form>
</div>
